<div id="foot-note">
  <div id="foot-left">
      <a class="foot-content" href="#main-pic">Home</a>
      <a class="foot-content" href="#conteudo-explicativo">Conteúdo explicativo</a>
      <a class="foot-content"  href="#selos">Selos</a>
      <a href="#sobre-nos" class="foot-content">Sobre nós</a>
      <a href="#contato" class="foot-content">Contato</a>
  </div>
  <p class="copyright" id="copyright">SITEC ®</p>
  <div id="foot-right">
      <a href="https://www.facebook.com"><img class="foot-img" src="/facebook-4.svg" alt="Face"></a>
      <a href="https://www.glassdoor.com.br"><img  class="foot-img" src="/glassdoor-logo.svg" alt="Glassdoor"></a>
      <a href="https://www.linkedin.com"><img class="foot-img" src="/icons-linkedin.svg" alt="Linkedin"></a>
      <a href="https://www.instagram.com"><img class="foot-img" src="/instagram-2016-5.svg" alt="Instagram"></a>
  </div>
</div>
