* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #006aa3;
  --secondary-color: #93CC99;
  --background-color: #FFFFFF;
  --black: #000000;
  --project-font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-left: 60%;
  margin-right: 10%;
  text-align: center;
  font-family: var(--project-font-family);
}

.div1 {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.slick-prev:before,
.slick-next:before {
  color: var(--black) !important;
}

.img-style {
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10%;
  margin-right: 10%;
  width: 25rem;
  height: 14rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

@media (max-whidth: 5) {
  .img-style {
    margin-left: 10%;
    margin-right: 10%;

  }
}

.tab-title {
  color: var(--secondary-color);
  font-weight: 800;
  font-size: 3rem;
  margin-top: 1.5rem;
  text-align: center;
  align-items: center;
  margin-bottom: 1rem;
  font-family: var(--project-font-family);
}

.componente-tutorial {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

#conteudo-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center 60%;
}

#produto-left {
  width: 50%;
}

.titles {
  color: var(--black);
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.texts-produto {
  color: var(--black);
  font-weight: 300;
  font-size: 1.3rem;
  text-align: justify;
  width: 100%;
  margin-right: 4rem;
  align-self: center;
}

.titles-parte {
  color: var(--black);
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

#tutorial {
  width: 15rem;
  background-color: var(--primary-color);
  height: 20.5rem;
  border-radius: 1.5rem;
  align-self: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.txt-tutorial-div {
  width: 60%;
  color: var(--background-color)
}

.tutorial-txt {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1rem;
}

.tutorial-number {
  color: var(--background-color);
  align-self: center;
  padding-left: 1.2rem;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 1rem;
  font-family: var(--project-font-family);
}

.tutorial-number-dev {
  align-self: center;
  font-weight: 900;
  font-size: 1.8rem;
}
