* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #006AA3;
  --secondary-color: #93CC99;
  --background-color: #FFFFFF;
  --black: #000000;
  --project-font-family: 'Montserrat', sans-serif;
}

/* The popup form - hidden by default */
.form-popup {

  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid var(--background-color);
  z-index: 9;
  border-radius: 2rem;
  margin-bottom: 1rem;
  margin-right: 7.5rem;

}

/* Add styles to the form container */
.form-container {
  width: 35rem; ;
  height: auto;
  min-height: 31rem;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 1.5rem;


}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 0.5rem;
  margin: 0.1rem 0 0.1rem 0;
  border: none;
  border-radius: 0.5rem;
  background: rgb(226, 222, 222);

}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #EDEDDD;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  margin-bottom:0.5rem;
  opacity: 0.8;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Add a azul background color to the cancel button */
.form-container .cancel {
  background-color: var(--primary-color);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.user-icon {
  width:2.5rem;
  margin-right: 0.5rem;
}

.icon-close{
  width:1.5rem;
  margin-left: 9rem;
  margin-bottom: 1.5rem;
}

.validation-error {
  color: orange;
  font-size: 0.8rem;
  text-align: left;
}
