<div class="form-popup" id="register-cli">
  <form  class="form-container">
    <h1><img class="user-icon" src="/register.svg">Cadastrar <a ><img class="icon-close" src="/circle-close-multiple-svgrepo-com.svg" (click)="closeForm()" ></a></h1>
    <div>
      <label for="email"><b>Nome da Empresa:</b></label>
      <input type="text" placeholder="Nome da Empresa" name="empresa" required>
      <label for="text"><b>CNPJ:</b></label>
      <input type="text" placeholder="Enter CNPJ" name="cnpj" required>
    </div>
    <div>
      <label for="email"><b>Email:</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
      <label for="text"><b>Atividade:</b></label>
      <input type="text" placeholder="Descreva sua atividade" name="atividae" required>
    </div>
    <div>
      <label for="psw"><b>Password:</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
    </div>
    <button type="submit" class="btn" (click)="closeForm()">Cadastrar</button>
  </form>
</div>
