
<p class="text">Empresas Parceiras:</p>
  <div class="logos">
    <div class="logos-slide">
      <img src="/Logo-Brazilian-Navy.png" />
      <img src="/logo-parceiro02.png" />
      <img src="/logo-parceiro01.svg" />
      <img src="/logo-parceiro03.png" />
      <img src="/logo-parceiro04.svg" />
      <img src="/logo-parceiro05.svg" />
      <img src="/logo-parceiro06.png" />
      <img src="/logo-parceiro07.svg" />
    </div>
    <div class="logos-slide">
        <img src="/Logo-Brazilian-Navy.png" />
        <img src="/logo-parceiro02.png" />
        <img src="/logo-parceiro01.svg" />
        <img src="/logo-parceiro03.png" />
        <img src="/logo-parceiro04.svg" />
        <img src="/logo-parceiro05.svg" />
        <img src="/logo-parceiro06.png" />
        <img src="/logo-parceiro07.svg" />
    </div>

