<div class="form-popup" id="cadastrar">
  <form  class="form-container">
    <h2><img class="register-icon text" src="/register.svg">Selecione Sua Categoria: <a ><img class="icon-close" src="/circle-close-multiple-svgrepo-com.svg" (click)="closeForm()"></a></h2>
    <div>
      <a type="submit" class="btn" (click)="handleButtonClick()"><img class="img" src="/search.svg">Empresa em Busca de Certificação</a>
    </div>
    <div>
      <a type="submit" class="btn cancel" (click)="handleButtonClick01()"><img class="img" src="/industry.svg">Empresa Fornecedora de Serviços de Reciclagem</a>
    </div>
  </form>
</div>
<app-register-cli></app-register-cli>
<app-register-supplier></app-register-supplier>
