<div class="form-popup" id="cadastrar">
  <form  class="form-container">
    <h2><img class="register-icon text" src="/register.svg">Selecione Sua Categoria: <a ><img class="icon-close" src="/circle-close-multiple-svgrepo-com.svg" (click)="closeForm()"></a></h2>
    <div>
      <button type="submit" class="btn" (click)="handleButtonClick()"><img class="img" src="/search.svg">Empresa em Busca de Certificação</button>
    </div>
    <div>
      <button  class="btn cancel" ><img class="img" src="/industry.svg">Empresa Fornecedora de Serviços de Reciclagem</button>
    </div>
  </form>
</div>
