<div class="form-popup" id="cadastrar">
  <form  class="form-container">
    <h2><img class="register-icon text" src="/register.svg">Selecione Sua Categoria: <a ><img class="icon-close" src="/circle-close-multiple-svgrepo-com.svg" (click)="closeForm()"></a></h2>
    <div>
      <button type="submit" class="btn">Empresa em Busca de Certificação</button>
      <img class="img" src="/search.svg">
    </div>
    <div>
      <button  class="btn cancel" >Empresa Fornecedora de Serviços de Reciclagem</button>
      <img class="img" src="/emp-forn.jfif" alt="">
    </div>
  </form>
</div>
