* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #006aa3;
  --secondary-color: #93CC99;
  --background-color: #FFFFFF;
  --black: #000000;
  --project-font-family: 'Montserrat', sans-serif;
}

.div-selos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-right: 1rem;
}

.img-selo {
  width: 15rem;
  height: 15rem;
}

.tab-title {
  color: var(--secondary-color);
  font-weight: 800;
  font-size: 3rem;
  font-family: var(--project-font-family);
  text-align: center;
  align-items: center;
}

.img-certificado {
  width: 20rem;
  height: 15rem;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.titulo-selo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--black);
  font-family: var(--project-font-family);
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.tab-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin-left: 2rem;

}

.text-selo {
  width: 40rem;
  text-align: justify;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: var(--project-font-family);
}
