* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #006AA3;
  --secondary-color: #93CC99;
  --background-color: #FFFFFF;
  --black: #000000;
  --project-font-family: 'Montserrat', sans-serif;
}

#div-contato {
  width: 30rem;
  height: auto; /* Permite que a altura se ajuste ao conteúdo */
  background-color: var(--primary-color);
  border-radius: 2rem;
  display: flex;
  flex-direction: column; /* Itens organizados verticalmente */
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

#contato-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.9rem
}

#form-contato {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  gap: 1.5rem;
}

#txt-contato {
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-family: var(--project-font-family);
}

#div-txt-contato {
  margin-left: -1.3rem
}

.tab-title {
  color: var(--secondary-color);
  font-weight: 800;
  font-size: 3rem;
  font-family: var(--project-font-family);
  text-align: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.contato-class {
  width: 100%;
  align-self: center;
  height: 2rem;
  border-radius: 1.5rem;
  border: none;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);

}

textarea {
  height: 8rem;
  width: 100%;
  align-self: center;
  border-radius: 1rem;
  border: none;
  outline: none;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

#button-contato {
  width: 100%;
  align-self: center;
  height: 3rem;
  border-radius: 4rem;
  border: none;
  background-color: var(--secondary-color);
  color: var(--background-color);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  padding: 0.8rem;
  text-align: center;
}

label {
  font-size: 1rem;
  font-family: var(--project-font-family);
  color: var(--background-color);
  text-align: center;
  width: 100%; /* Garante alinhamento e consistência com inputs */
}
.validation-error {
  color: orange;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  text-align: center;
}
