<div id="contato" class="tab">
    <p class="tab-title">CONTATO</p>
    <div class="tab-content" id="contato-div">
        <div id="contato-div" class="tab">
            <div id="div-txt-contato">
                <p id="txt-contato">FORMULÁRIO DE CONTATO</p>
            </div>
            <div id="div-contato">
                <form id="form-contato" (formGroup)="contact_forme">
                    <input class="contato-class" type="text" placeholder="   Digite seu nome aqui*" required>
                    <input class="contato-class" type="text" placeholder="   Digite seu E-mail aqui*" required>
                    <input class="contato-class" type="text" placeholder="   Digite o tema do assunto*" required>
                    <textarea cols="30" rows="10" formControlName="descricao" placeholder="   Digite sua mensagem aqui*" required></textarea>
                    <button type="button" id="button-contato">Enviar mensagem</button>
                </form>
            </div>
        </div>
    </div>
</div>