
<p class="text">Empresas Certificadas:</p>
  <div class="logos">
    <div class="logos-slide">
      <img src="./adidas-5.svg" />
      <img src="./banco-do-brasil-logo.svg" />
      <img src="./facebook.svg" />
      <img src="./logo-amazon.svg" />
      <img src="./caixa-economica-federal-1.svg" />
      <img src="./mercado-livre-logo-vertical-2.svg" />
      <img src="./tesla-9.svg" />
      <img src="./pao-de-acucar.svg" />
    </div>
    <div class="logos-slide">
      <img src="./adidas-5.svg" />
      <img src="./banco-do-brasil-logo.svg" />
      <img src="./facebook.svg" />
      <img src="./logo-amazon.svg" />
      <img src="./caixa-economica-federal-1.svg" />
      <img src="./mercado-livre-logo-vertical-2.svg" />
      <img src="./tesla-9.svg" />
      <img src="./pao-de-acucar.svg" />
    </div>

