
<div id="header-div">
    <img  src="sitec-logo-no-bg.png"  id="main-logo">
    <div id="sitec-div">
        <p id="sitec-header">SITEC</p>
        <p id="sitec-tag-header">O futuro é agora!</p>
    </div>
    <div id="buttons-header">
        <button class="button-header user-icon" (click)="openForm()">Login</button>
        <button class="button-header register-icon">Cadastrar</button>
        <button class="button-header contact-icon">Contato</button>
        <button href="#sobre-nos" class="button-header about-icon" >Sobre nós</button>
    </div>
  </div>
