<div class="container-img">
  <img class="img-intro" id="main-pic">
  <div class="top-right">
      <p id="img-txt-title">SITEC</p>
      <p id="img-txt-tag">O futuro é agora!</p>
      <p id="text-imge">O projeto Sitec tem como modelo de negócio a implantação de selos e certificados para empresas que realizem o descarte de seus rejeitos de forma adequada. </p>
      <a id="buttons-intro" href="#contratar-servico"></a>
          <a class="button-intro img-logo " id="button-text" (click)="openCadastrar()" > Cadastrar !</a>
  </div>
</div>
